<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit" id='login' onclick="loginForm(event)">login</button>
  </div>
</form>
<div id='errMsg' style="font-weight:bold;color:red"></div>
							<p class="login-card-footer-text">Don't have an account?
								Register Below</a>
							</p>
<form class="signup-form" class= type='hidden'>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" onclick=" signupFormHandler(event)">signup</button>
  </div>
</form>
<div id='errMsg2' style="font-weight:bold;color:red"></div>

<script src="/javascript/login.js"></script>