<section class="py-3 vh-100" id="features">
  <div class="container px-5 my-5 ">
    <div class="row gx-5">
      <div class="card-body">
      <form class="login-form">
        <div >
         <h1 class="h5 mb-2  lh-1 text-left event-mgr-header">email:</h1>
          <input type="text" id="email" />
        </div>
        <div>
          <br>
           <h1 class="h5 mb-2  lh-1 text-left event-mgr-header">password:</h1>
          <input type="password" id="password" />
        </div>
        <div>
          <br>
          <button type="submit" id='login' class="btn btn-primary btn-lg" onclick="loginForm(event)">login</button>
        </div>
      </form>
      <div id='errMsg' style="font-weight:bold;color:red"></div>
      <p class="login-card-footer-text" style="color:burlywood">Don't have an account?
        Register Below</a>
      </p>
      <form class="signup-form" class=type='hidden'>
        <div>
          <h1 class="h5 mb-2  lh-1 text-left event-mgr-header">username:</h1>
          <input type="text" id="username-signup" />
        </div>
        <div>
           <br>
          <h1 class="h5 mb-2  lh-1 text-left event-mgr-header">email:</h1>
          <input type="text" id="email-signup" />
        </div>
        <div>
           <br>
         <h1 class="h5 mb-2  lh-1 text-left event-mgr-header">password:</h1>
          <input type="password" id="password-signup" />
        </div>
        <div>
           <br>
          <button type="submit" onclick=" signupFormHandler(event)" class="btn btn-primary btn-lg">signup</button>
        </div>
      </form>
      <div id='errMsg2' style="font-weight:bold;color:red"></div>

</div>
</div>
</div>
</section>
      <script src="/javascript/login.js"></script>